<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUPublicEDKey</key>
    <string>VpJ8PRJll+Djbmefga5ugXgXVKBZOLcXcsN1U7819MM=</string>
    <key>SUFeedURL</key>
    <string>https://github.com/timbueno/SFCymbal/releases/latest/download/appcast.xml</string>
    <key>SUEnableInstallerLauncherService</key>
    <true/>
    <key>SUEnableDownloaderService</key>
    <true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SF Cymbal Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>dev.sfcymbal.project</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SF Cymbal Project</string>
			<key>UTTypeIdentifier</key>
			<string>dev.sfcymbal.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sfcymbal</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
